---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Scripts from "../components/Scripts.astro";
import ToggleButtons from "../components/ToggleButtons.astro";
import ToTop from "../components/ToTop.astro";
import Projects from "../components/ProjectSection.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <Scripts />
  </head>
  <body class="bg-dot">
    <Header />
    <ToggleButtons />

    <main class="main">
      <Projects />
      <ToTop />
    </main>

    <Footer />
  </body>
</html>
