img {
  vertical-align: middle;
}

.project-section {
  padding-top: 50px;
  position: relative;
  /* height: 75dvh; */
}

.container {
  max-width: 1540px;
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  margin: auto;
}

.container.carousel {
  max-width: calc(90dvh - 350px);
  min-width: 880px;
}

.project-carousel-wrap {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100%;
  display: block;
  position: relative;
  margin-bottom: 5rem;
}

.project-img {
  object-fit: cover;
  border-radius: 50%;
  width: 125px;
  height: 125px;
  transition: all 0.5s;
}

.project-item-inner {
  position: relative;
}

.svg-embed {
  z-index: -1;
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.project-carousel-cont,
.project-list-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.project-arrow-prev,
.project-arrow-next {
  border: 2px solid #97b3ff50;
  background-color: var(--bg-color);
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 15px;
  color: var(--text-color);
  font-weight: 700;
  font-size: 2rem;
  transition: 0.5s border, 0.5s scale;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-arrow-prev::after {
  content: "‹";
}

.project-arrow-next::after {
  content: "›";
}

.project-arrow-prev:hover,
.project-arrow-next:hover {
  border-color: var(--medium-slate-blue);
  scale: 110%;
}

.project-arrows {
  grid-column-gap: 25%;
  justify-content: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: absolute;
}

.cms-desc {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: auto;
  padding-inline: 15%;
  background-color: transparent;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  top: 25%;
  user-select: none;
  opacity: 0;
  transition: all 0.3s ease;
}

.project-name {
  font-size: 2rem;
  font-weight: 600;
}

.project-desc {
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.6;
  max-width: 770px;
}

.project-item {
  cursor: pointer;
  border-radius: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-list {
  height: 100%;
  position: relative;
  top: 0;
}

.project-item-child {
  position: relative;
}

.carousel-txt-list {
  width: 100%;
  position: absolute;
  inset: 0%;
}

.carousel-txt-list-wrap {
  width: 100%;
}

.project-dots {
  opacity: 0;
  scale: 100%;
  overflow: hidden;
}

.project-dots-wrap {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0%;
  overflow: hidden;
}

.list-image {
  display: none;
}

@media screen and (min-width: 1440px) {
}

@media screen and (max-width: 991px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .project-img {
    width: 64px;
    height: 64px;
  }

  .project-desc {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 767px) {
  .svg-embed {
    top: 0px;
  }

  .project-arrow-prev,
  .project-arrow-next {
    width: 40px;
    height: 40px;
  }

  .project-arrows {
    grid-row-gap: 48px;
  }

  .cms-desc {
    padding-inline: 20%;
  }
}

@media screen and (max-width: 600px) {
  .project-name {
    font-size: 1.5rem;
  }

  .project-desc {
    font-size: 0.875rem;
  }
}

/* For landscape orientation */
@media screen and (orientation: landscape) {
  .project-name {
    font-size: 2rem;
  }

  .cms-desc {
    padding-inline: 20%;
  }
}

@media screen and (orientation: landscape) and (max-height: 1410px) {
  .project-section {
    padding-top: 20px;
  }

  .project-name {
    font-size: 1.6rem;
  }

  .project-item .project-img {
    width: 90px;
    height: 90px;
  }

  .project-desc {
    display: -webkit-box;
    /* font-size: 0.9rem; */
    line-clamp: 12;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .project-links {
    gap: 150px;
    font-size: 0.9rem;
  }
}

@media screen and (orientation: landscape) and (max-height: 1210px) {
  .project-section {
    padding-top: 20px;
  }

  .project-name {
    font-size: 1.5rem;
  }

  .project-item .project-img {
    width: 85px;
    height: 85px;
  }

  .project-desc {
    display: -webkit-box;
    /* font-size: 0.9rem; */
    line-clamp: 8;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .project-links {
    gap: 150px;
    font-size: 0.9rem;
  }
}

@media screen and (orientation: landscape) and (max-height: 1025px) {
  .project-section {
    padding-top: 0px;
  }

  .project-name {
    font-size: 1.4rem;
  }

  .project-item .project-img {
    width: 80px;
    height: 80px;
  }

  .project-desc {
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  .project-links {
    gap: 100px;
  }
}

@media only screen and (max-device-width: 460px) {
  .container.carousel {
    max-width: calc(90dvh - 350px);
    min-width: 380px;
  }  

  .project-name {
    font-size: 1.4rem;
  }

  .project-item .project-img {
    width: 60px;
    height: 60px;
  }

  .project-links {
    gap: 80px;
  }
}

@media only screen and (max-device-width: 420px) {
  .project-desc {
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}

/* Transition styles */
.view-switching {
    transition: all 0.3s ease;
}
